@import 'http://at.alicdn.com/t/font_545826_7jatc7cnpnq7u8fr.css';

* {
  margin: 0;
  padding: 0;
}

.i-table, .i-table *, .i-pager, .i-pager * { 
  box-sizing: border-box;
}

.i-table {
  position: relative;
}

.i-table table {
  width: 100%;
}

.i-table-header {
  background-color: #f1f6fa;
}

.i-table-header {
  overflow: hidden;
}

.i-table-body {
  overflow: auto;
}

.i-table th {
  text-align: left;
  font-weight: 400;
  min-height: 20px;
  line-height: 20px;
  font-size: 14px;
}

.i-table-collapse {
  position: absolute; 
  left: 0;
  cursor: pointer;
}

.i-table-cell {
  height: 28px;
  line-height: 28px;
  padding: 0 15px;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.i-sort-wrap {
  margin-right: 5px;
  position: relative;
  .i-asc-icon {
    position: absolute;
    cursor: pointer;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #d3d3d3;
    top: 5px;
    &.active, &:hover {
      border-bottom-color: #515151;
    }
  }
  .i-desc-icon {
    position: absolute;
    cursor: pointer;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #d3d3d3;
    bottom: 5px;
    &.active, &:hover {
      border-top-color: #515151;
    }
  }
}

.i-filter-wrap {
  .icon-filter {
    font-size: 12px;
    cursor: pointer;
    color: #d3d3d3;
    &.active, &:hover {
      color: #515151;
    }
  }
}

.i-filter-choose-wrap {
  outline: none;
  &>ul {
    position: absolute;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    li {
      list-style: none;
      padding: 2px 8px;
      font-size: 14px;
      .i-table-icon {
        font-size: 14px;
        margin-right: 5px;
      }
      &.cb-wrap {
        &:hover {
          background: #e6f7ff;
        }
      }
      &.btn-wrap {
        text-align: center;
        border-top: 1px solid #d3d3d3;
        padding: 0;
        a {
          display: inline-block;
          width: 50%;
          cursor: pointer;
          padding: 2px 0;
          &:not(:first-child) {
            border-left: 1px solid #d3d3d3;
          }
          &:hover {
            background: #e6f7ff;
          }
        }
      }
    }
    
  }
}

.i-pager {
  height: 40px;
  vertical-align: middle;
  font-size: 0;
  padding: 6px 0;
  background: #f1f6fa;
}

.i-pager-choose, .i-pager-count, .i-pager-limits {
  vertical-align: middle;
  line-height: 28px;
  height: 28px;
  margin: 0 8px;
}

.i-pager-count, .i-pager-limits {
  font-size: 12px;
}

.i-pager a {
  text-decoration: none;
}

.i-pager div {
  display: inline-block;
}

.i-pager a, .i-pager span {
  height: 28px;
  line-height: 28px;
  display: inline-block;
  padding: 0 10px;
  color: #333;
  font-size: 12px;
  vertical-align: middle;
}

.i-pager-curr {
  position: relative;
  background: #009688;
  border-radius: 2px;
}

.i-pager-curr em {
  position: inherit;
  font-style: normal;
  color: #fff;
}

.i-pager-curr em.i-pager-em {
  position: absolute;
}

.i-pager-prev i, .i-pager-next i {
  font-size: 12px;
}

.i-pager .i-pager-spr {
  color: #999;
  font-weight: 700;
}

.i-pager-limits {
  position: relative;
}

.i-pager-limits .i-pager-limits-show {
  height: 28px;
  padding: 0 28px 0 12px;
  cursor: pointer;
  border: 1px solid #e3e3e3;
  border-radius: 2px;
}


.i-pager-limits .i-pager-limits-show:hover .i-pager-limits-choose {
  display: block;
}

.i-pager-limits .i-pager-limits-show i {
  display: inline-block;
  position: absolute;
  right: 5px;
  font-size: 12px;
  color: #d3d3d3;
}

.i-pager-limits .i-pager-limits-choose {
  display: none;
  width: 100%;
  position: absolute;
  list-style: none;
  color: #009688;
  white-space: nowrap;
  top: 28px;
  left: 0;
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
}

.i-pager-limits-choose li {
  width: 100%;
  padding: 0px 12px;
  border-bottom: 1px solid #e3e3e3;
  text-align: center;
}

.i-pager-limits-choose li.active {
    background: #009688;
    color: #fff;
}

.i-pager-limits-choose li:hover {
  background: #009688;
  color: #fff;
}

.i-disabled {
  cursor: not-allowed;
}


/** checkbox **/
.gcb-wrap ul {
  width: inherit;
  height: inherit;
}

.gcb-wrap li {
  list-style: none;
  width: inherit;
  height: inherit;
}

.gcb-wrap {
  cursor: pointer;
  user-select:none;
  width: inherit;
  height: inherit;
}


/** 可以删掉 **/


.i-table-level-0 {
  background: #fff;
}

.i-table-level-1 {
  background: #e3e3e3;
}

.i-table-level-2 {
  background: #d3d3d3;
}